<div class="hover" routerLink="..">
  <i class="fas fa-angle-left"> </i> Atrás
</div>
<h2 class="title-h1">Agregar salarios para un empleado</h2>
<form
  class="row g-3 needs-validation form-space"
  style="float: center"
  [formGroup]="formStaff"
  novalidate
>
  <h3>Información del empleado</h3>
  <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Código Empleado</label>
    <input
      type="text"
      class="form-control"
      id="validationTooltip01"
      value="0000000000"
      [ngClass]="{
        'invalid-input':
          formStaffInvalid && formStaff.controls.employeeCode.invalid
      }"
      formControlName="employeeCode"
    />
    <div class="error-text">
      <control-messages
        [control]="formStaff.controls.employeeCode"
        [submmitted]="formStaffInvalid"
      ></control-messages>
    </div>
  </div>
  <div class="col-md-2 position-relative">
    <label for="validationTooltip02" class="form-label"
      >Número de identificación</label
    >
    <input
      type="text"
      class="form-control"
      id="validationTooltip02"
      value="000000000"
      [ngClass]="{
        'invalid-input':
          formStaffInvalid && formStaff.controls.identificationNumber.invalid
      }"
      formControlName="identificationNumber"
    />
    <div class="error-text">
      <control-messages
        [control]="formStaff.controls.identificationNumber"
        [submmitted]="formStaffInvalid"
      ></control-messages>
    </div>
  </div>
  <div class="col-md-4 position-relative">
    <label for="validationTooltip03" class="form-label"
      >Fecha de nacimiento</label
    >
    <input
      type="date"
      class="form-control"
      id="validationTooltip03"
      [ngClass]="{
        'invalid-input': formStaffInvalid && formStaff.controls.birthday.invalid
      }"
      value="Otto"
      formControlName="birthday"
    />
    <div class="error-text">
      <control-messages
        [control]="formStaff.controls.birthday"
        [submmitted]="formStaffInvalid"
      ></control-messages>
    </div>
  </div>
  <div class="col-md-4 position-relative"></div>
  <div class="col-md-4 position-relative">
    <label for="validationTooltip04" class="form-label">Nombre(s)</label>
    <input
      type="text"
      class="form-control"
      id="validationTooltip04"
      value="Mark"
      [ngClass]="{
        'invalid-input':
          formStaffInvalid && formStaff.controls.employeeName.invalid
      }"
      formControlName="employeeName"
    />
    <div class="error-text">
      <control-messages
        [control]="formStaff.controls.employeeName"
        [submmitted]="formStaffInvalid"
      ></control-messages>
    </div>
  </div>
  <div class="col-md-4 position-relative">
    <label for="validationTooltip05" class="form-label">Apellido(s)</label>
    <input
      type="text"
      class="form-control"
      id="validationTooltip05"
      value="Otto"
      [ngClass]="{
        'invalid-input':
          formStaffInvalid && formStaff.controls.employeeSurname.invalid
      }"
      formControlName="employeeSurname"
    />
    <div class="error-text">
      <control-messages
        [control]="formStaff.controls.employeeSurname"
        [submmitted]="formStaffInvalid"
      ></control-messages>
    </div>
  </div>
</form>
<div>
  <!-- Button trigger modal -->
  <button
    type="button"
    (click)="editSalary = false"
    title="Agregar nuevo salario"
    class="btn btn-primary btn-lg align-right"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    +
  </button>
  <h3 class="title-h1">Información salarial</h3>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Año</th>
      <th scope="col">Mes</th>
      <th scope="col">División</th>
      <th scope="col">Posición</th>
      <th scope="col">Oficina</th>
      <th scope="col">Fecha de Inicio</th>
      <th scope="col">Grado</th>
      <th scope="col">Salario Base</th>
      <th scope="col">Bonus de producción</th>
      <th scope="col">Bonus de compensación</th>
      <th scope="col">Comisiones</th>
      <th scope="col">Contribuciones</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let staff of salaries; let i = index">
      <th scope="row">{{ staff.year }}</th>
      <td>{{ utils.getMonthNames(staff.month) }}</td>
      <td>{{ getNameCatalog(2, staff.division) }}</td>
      <td>{{ getNameCatalog(1, staff.position) }}</td>
      <td>{{ getNameCatalog(3, staff.office) }}</td>
      <td>{{ staff.beginDate | date: "MMM d, y" }}</td>
      <td>{{ staff.grade }}</td>
      <td>
        {{ staff.baseSalary | currency: "EUR":"symbol":"1.2-2" }}
      </td>
      <td>
        {{ staff.productionBonus | currency: "EUR":"symbol":"1.2-2" }}
      </td>
      <td>
        {{ staff.compensationBonus | currency: "EUR":"symbol":"1.2-2" }}
      </td>
      <td>
        {{ staff.commission | currency: "EUR":"symbol":"1.2-2" }}
      </td>
      <td>
        {{ staff.contributions | currency: "EUR":"symbol":"1.2-2" }}
      </td>
      <td>
        <button
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          type="submit"
          (click)="chargeDataFormSalary(staff, i)"
        >
          <i class="fas fa-pen"> </i>
        </button>
        <button
          style="margin-left: 10px"
          class="btn btn-danger"
          type="submit"
          (click)="RemoveSalary(staff)"
        >
          <i class="fas fa-trash"> </i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div
  *ngIf="salaries.length === 0"
  style="margin-left: 50px"
  class="alert alert-secondary"
  role="alert"
>
  No hay salarios ingresados para este empleado
</div>
<button
  class="btn btn-success btnSave"
  type="submit"
  (click)="SaveStaffSalaries()"
>
  Guardar
</button>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Información salarial</h5>
        <button
          type="button"
          class="btn-close"
          (click)="resetFormSalary()"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" [formGroup]="formSalary">
          <div class="col-md-3 position-relative">
            <label for="validationTooltip04" class="form-label">Año</label>
            <select
              class="form-select"
              id="validationTooltip04"
              [ngClass]="{
                'invalid-input':
                  formSalaryInvalid && formSalary.controls.year.invalid
              }"
              formControlName="year"
            >
              <option selected disabled value="null">
                Selecciona el año...
              </option>
              <option *ngFor="let year of years" [value]="year">
                {{ year }}
              </option>
            </select>
            <div class="error-text">
              <control-messages
                [control]="formSalary.controls.year"
                [submmitted]="formSalaryInvalid"
              ></control-messages>
            </div>
          </div>
          <div class="col-md-3 position-relative">
            <label for="validationTooltip04" class="form-label">Mes</label>
            <select
              class="form-select"
              id="validationTooltip04"
              formControlName="month"
              [ngClass]="{
                'invalid-input':
                  formSalaryInvalid && formSalary.controls.month.invalid
              }"
            >
              <option selected disabled value="null">
                Selecciona el mes...
              </option>
              <option *ngFor="let month of months" [value]="month.Value">
                {{ month.Text }}
              </option>
            </select>
            <div class="error-text">
              <control-messages
                [control]="formSalary.controls.month"
                [submmitted]="formSalaryInvalid"
              ></control-messages>
            </div>
          </div>
          <div class="col-md-4 position-relative">
            <label for="validationTooltip02" class="form-label"
              >Fecha de ingreso</label
            >
            <input
              type="date"
              class="form-control"
              id="validationTooltip02"
              value="Otto"
              [ngClass]="{
                'invalid-input':
                  formSalaryInvalid && formSalary.controls.beginDate.invalid
              }"
              formControlName="beginDate"
            />
            <div class="error-text">
              <control-messages
                [control]="formSalary.controls.beginDate"
                [submmitted]="formSalaryInvalid"
              ></control-messages>
            </div>
          </div>
          <div class="col-md-2">
            <label for="inputCity" class="form-label">Grado</label>
            <input
              type="text"
              formControlName="grade"
              [ngClass]="{
                'invalid-input':
                  formSalaryInvalid && formSalary.controls.grade.invalid
              }"
              class="form-control"
              id="inputCity"
            />
            <div class="error-text">
              <control-messages
                [control]="formSalary.controls.grade"
                [submmitted]="formSalaryInvalid"
              ></control-messages>
            </div>
          </div>
          <div class="col-md-3 position-relative">
            <label for="validationTooltip04" class="form-label">Oficina</label>
            <select
              class="form-select"
              id="validationTooltip04"
              formControlName="office"
              [ngClass]="{
                'invalid-input':
                  formSalaryInvalid && formSalary.controls.office.invalid
              }"
            >
              <option value="null" selected disabled>
                Selecciona la oficina...
              </option>
              <option *ngFor="let cata of offices" [value]="cata.id">
                {{ cata.name }}
              </option>
            </select>
            <div class="error-text">
              <control-messages
                [control]="formSalary.controls.office"
                [submmitted]="formSalaryInvalid"
              ></control-messages>
            </div>
          </div>

          <div class="col-md-3 position-relative">
            <label for="validationTooltip04" class="form-label">División</label>
            <select
              class="form-select"
              id="validationTooltip04"
              formControlName="division"
              [ngClass]="{
                'invalid-input':
                  formSalaryInvalid && formSalary.controls.division.invalid
              }"
            >
              <option selected disabled value="null">
                Selecciona la división
              </option>
              <option *ngFor="let cata of divisions" [value]="cata.id">
                {{ cata.name }}
              </option>
            </select>
            <div class="error-text">
              <control-messages
                [control]="formSalary.controls.division"
                [submmitted]="formSalaryInvalid"
              ></control-messages>
            </div>
          </div>
          <div class="col-md-3 position-relative">
            <label for="validationTooltip04" class="form-label">Posición</label>
            <select
              class="form-select"
              id="validationTooltip04"
              formControlName="position"
              [ngClass]="{
                'invalid-input':
                  formSalaryInvalid && formSalary.controls.position.invalid
              }"
            >
              <option selected disabled value="null">
                Selecciona la posición...
              </option>
              <option *ngFor="let cata of positions" [value]="cata.id">
                {{ cata.name }}
              </option>
            </select>
            <div class="error-text">
              <control-messages
                [control]="formSalary.controls.position"
                [submmitted]="formSalaryInvalid"
              ></control-messages>
            </div>
          </div>

          <div class="col-md-3">
            <label for="inputAddress" class="form-label">Salario base</label>
            <input
              type="text"
              [ngClass]="{
                'invalid-input':
                  formSalaryInvalid && formSalary.controls.baseSalary.invalid
              }"
              formControlName="baseSalary"
              class="form-control"
              id="inputAddress"
              placeholder=""
            />
            <div class="error-text">
              <control-messages
                [control]="formSalary.controls.baseSalary"
                [submmitted]="formSalaryInvalid"
              ></control-messages>
            </div>
          </div>
          <div class="col-md-3">
            <label for="inputCity" class="form-label"
              >Bonos de producción</label
            >
            <input
              type="text"
              formControlName="productionBonus"
              [ngClass]="{
                'invalid-input':
                  formSalaryInvalid &&
                  formSalary.controls.productionBonus.invalid
              }"
              class="form-control"
              id="inputCity"
            />
            <div class="error-text">
              <control-messages
                [control]="formSalary.controls.productionBonus"
                [submmitted]="formSalaryInvalid"
              ></control-messages>
            </div>
          </div>

          <div class="col-md-3">
            <label for="inputZip" class="form-label"
              >Bonos de compensación</label
            >
            <input
              type="text"
              formControlName="compensationBonus"
              [ngClass]="{
                'invalid-input':
                  formSalaryInvalid &&
                  formSalary.controls.compensationBonus.invalid
              }"
              class="form-control"
              id="inputZip"
            />
            <div class="error-text">
              <control-messages
                [control]="formSalary.controls.compensationBonus"
                [submmitted]="formSalaryInvalid"
              ></control-messages>
            </div>
          </div>
          <div class="col-md-3">
            <label for="inputZip" class="form-label">Comisiones</label>
            <input
              type="text"
              formControlName="commission"
              [ngClass]="{
                'invalid-input':
                  formSalaryInvalid && formSalary.controls.commission.invalid
              }"
              class="form-control"
              id="inputZip"
            />
            <div class="error-text">
              <control-messages
                [control]="formSalary.controls.commission"
                [submmitted]="formSalaryInvalid"
              ></control-messages>
            </div>
          </div>
          <div class="col-md-3">
            <label for="inputZip" class="form-label">Contribuciones</label>
            <input
              type="text"
              formControlName="contributions"
              [ngClass]="{
                'invalid-input':
                  formSalaryInvalid && formSalary.controls.contributions.invalid
              }"
              class="form-control"
              id="inputZip"
            />
            <div class="error-text">
              <control-messages
                [control]="formSalary.controls.contributions"
                [submmitted]="formSalaryInvalid"
              ></control-messages>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="AddSalary()">
          <span *ngIf="!editSalary">Agregar</span>
          <span *ngIf="editSalary">Editar</span>
          y continuar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [attr.data-bs-dismiss]="formSalary.valid ? 'modal' : ''"
          (click)="AddSalary()"
        >
          <span *ngIf="!editSalary">Agregar</span>
          <span *ngIf="editSalary">Editar</span>
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="resetFormSalary()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
