<nav class="navbar navbar-dark bg-primary" style="width: 100%">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets//img//509-5093155_png-file-svg-icon-of-staff.png"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Marshalls Staff
    </a>
  </div>
</nav>

<main class="content-body">
  <router-outlet></router-outlet>
</main>
