<button
  *ngIf="!showRelated"
  type="button"
  title="Agregar nuevo salario"
  [routerLink]="'new'"
  class="btn btn-primary btn-lg align-right"
>
  +
</button>

<h2 class="title-h1">Salarios de Empleados</h2>
<div *ngIf="showRelated">
  <div class="card card-space">
    <h5 class="card-header">Empleado seleccionado:</h5>
    <div class="card-body">
      <h4 class="card-title">
        {{ EmployeeRelated?.employeeName }}
        {{ EmployeeRelated?.employeeSurname }}
      </h4>
      <p class="card-text">
        <b>División:</b> {{ getNameCatalog(2, EmployeeRelated?.division) }}
        <b>Posición:</b> {{ getNameCatalog(1, EmployeeRelated?.position) }}
        <b>Oficina:</b>
        {{ getNameCatalog(3, EmployeeRelated?.office) }}
        <b>Grado:</b>
        {{ EmployeeRelated?.grade }}
      </p>
      <a (click)="setRelatedEmployees(null)" class="btn btn-primary"
        >Cancelar relación</a
      >
    </div>
  </div>
  <div
    class="btn-group btn-box"
    role="group"
    aria-label="Basic radio toggle button group"
  >
    <input
      type="radio"
      (click)="searchRelatedEmployees(1)"
      class="btn-check"
      name="btnradio"
      id="btnradio1"
      autocomplete="off"
      checked
    />

    <label class="btn btn-outline-primary" for="btnradio1">
      Misma oficina y grado</label
    >

    <input
      type="radio"
      (click)="searchRelatedEmployees(2)"
      class="btn-check"
      name="btnradio"
      id="btnradio2"
      autocomplete="off"
    />
    <label class="btn btn-outline-primary" for="btnradio2">
      Todas las oficinas mismo Grado</label
    >

    <input
      type="radio"
      (click)="searchRelatedEmployees(3)"
      class="btn-check"
      name="btnradio"
      id="btnradio3"
      autocomplete="off"
    />
    <label class="btn btn-outline-primary" for="btnradio3">
      Misma posición y grado</label
    >

    <input
      type="radio"
      (click)="searchRelatedEmployees(4)"
      class="btn-check"
      name="btnradio"
      id="btnradio4"
      autocomplete="off"
    />
    <label class="btn btn-outline-primary" for="btnradio4">
      Todas las Posiciones y mismo grado</label
    >
  </div>
</div>

<div
  class="input-group"
  *ngIf="!showRelated"
  style="margin-left: 25px; margin-bottom: 20px"
>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="inputEmployeeCode"
    placeholder="Buscar por Código de empleado"
  />
  <div class="input-group-append" style="width: 70%; margin-left: 10px">
    <button
      class="btn btn-outline-primary btn-groups"
      (click)="searchRelatedEmployees(5)"
      type="button"
    >
      <i class="fas fa-search"></i>
    </button>
    <button
      class="btn btn-outline-primary btn-groups"
      (click)="clearSearch()"
      type="button"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>

<table class="table" style="width: 95%">
  <thead>
    <tr>
      <th scope="col">Cód. Empleado</th>
      <th scope="col">Nombre Completo</th>
      <th scope="col">División</th>
      <th scope="col">Posición</th>
      <th scope="col">Oficina</th>
      <th scope="col">Fecha de Inicio</th>
      <th scope="col">Cumpleaños</th>
      <th scope="col">Número de Identificación</th>
      <th scope="col">Salario Total</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="table-hover"
      *ngFor="
        let staff of staffSalaries
          | groupBy: 'employeeCode'
          | paginate: { itemsPerPage: 10, currentPage: p }
      "
      (click)="setRelatedEmployees(staff)"
    >
      <th scope="row">{{ staff.key }}</th>
      <td>
        {{ staff.value[0].employeeName }} {{ staff.value[0].employeeSurname }}
      </td>
      <td>{{ getNameCatalog(2, staff.value[0].division) }}</td>
      <td>{{ getNameCatalog(1, staff.value[0].position) }}</td>
      <td>{{ getNameCatalog(3, staff.value[0].office) }}</td>
      <td>{{ staff.value[0].beginDate | date: "MMM d, y" }}</td>
      <td>{{ staff.value[0].birthday | date: "MMM d, y" }}</td>
      <td>{{ staff.value[0].identificationNumber }}</td>
      <td>
        {{
          CalculateTotalSalary(staff.value[0])
            | currency: "EUR":"symbol":"1.2-2"
        }}
      </td>
    </tr>
  </tbody>
  <pagination-controls
    (pageChange)="p = $event"
    autoHide="true"
    previousLabel=""
    nextLabel=""
  ></pagination-controls>
</table>

<div
  *ngIf="staffSalaries?.length === 0"
  class="alert alert-secondary"
  style="margin-left: 30px"
  role="alert"
>
  No hay registros para mostrar
</div>
<div *ngIf="staffSalaries?.length > 0 && employeeLastSalaries?.length > 0">
  <h3 class="title-h1">Salarios consecutivos del empleado buscado</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Año</th>
        <th scope="col">Mes</th>
        <th scope="col">División</th>
        <th scope="col">Posición</th>
        <th scope="col">Oficina</th>
        <th scope="col">Fecha de Inicio</th>
        <th scope="col">Grado</th>
        <th scope="col">Salario Base</th>
        <th scope="col">Bonus de producción</th>
        <th scope="col">Bonus de compensación</th>
        <th scope="col">Comisiones</th>
        <th scope="col">Contribuciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of employeeLastSalaries; let i = index">
        <th scope="row">{{ staff.year }}</th>
        <td>{{ utils.getMonthNames(staff?.month) }}</td>
        <td>{{ getNameCatalog(2, staff?.division) }}</td>
        <td>{{ getNameCatalog(1, staff?.position) }}</td>
        <td>{{ getNameCatalog(3, staff?.office) }}</td>
        <td>{{ staff.beginDate | date: "MMM d, y" }}</td>
        <td>{{ staff.grade }}</td>
        <td>
          {{ staff.baseSalary | currency: "EUR":"symbol":"1.2-2" }}
        </td>
        <td>
          {{ staff.productionBonus | currency: "EUR":"symbol":"1.2-2" }}
        </td>
        <td>
          {{ staff.compensationBonus | currency: "EUR":"symbol":"1.2-2" }}
        </td>
        <td>
          {{ staff.commission | currency: "EUR":"symbol":"1.2-2" }}
        </td>
        <td>
          {{ staff.contributions | currency: "EUR":"symbol":"1.2-2" }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th id="Bono" colspan="3">Bono :</th>
        <td>{{ Bonus | currency: "EUR":"symbol":"1.2-2" }}</td>
      </tr>
    </tfoot>
  </table>
</div>
