/* // regular style toast */
@import "~ngx-toastr/toastr";

/* // bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions */
/* @import "~ngx-toastr/toastr-bs4-alert"; */

/* // if you'd like to use it without importing all of bootstrap it requires */
/* @import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~ngx-toastr/toastr-bs4-alert"; */

/* You can add global styles to this file, and also import other style files */
.align-right {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  border: 0;
}
.title-h1 {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
/* input.ng-dirty.ng-invalid {
  color: red;
  border-color: red;
} */
.invalid-input {
  /* color: red; */
  border-color: red;
}
table {
  margin-left: 20px;
  margin-right: 10px;
}
.hover {
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 33px;
}

.btnSave {
  margin-top: 20px;
  margin-left: 20px;
}

.form-space {
  margin: 30px 30px 30px 30px;
}
.card-space {
  margin: 30px 30px 30px 30px;
}
.card {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
tbody > tr.table-hover {
  cursor: pointer;
}
tbody > tr.table-hover:hover {
  color: blue;
}
.btn-groups {
  margin-left: 5px;
  margin-right: 5px;
}
.btn-box {
  float: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.error-text {
  color: red;
}
